<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar livro</title>
</head>

<body>

    <h1>Editar livro</h1>

    <form action="{{ url_for('edit_book', id=book.id) }}" method="post">

        <label for="title">Título: </label>
        <input type="text" name="title" value="{{ book.title }}" required>

        <label for="author">Autor: </label>
        <input type="text" name="author" value="{{ book.author }}" required>

        <label for="published_date">Publicado em: </label>
        <input type="text" name="published_date" value="{{ book.published_date }}" required>

        <label for="isbn">ISBN: </label>
        <input type="text" name="isbn" value="{{ book.isbn }}" required>

        <br>

        <button type="submit">Atualizar livro</button>

    </form>

    <a href="{{ url_for('index') }}">Voltar para a Biblioteca</a>

</body>

</html>